<div class="navbar-inner">
	<div class="container-fluid">

		<!-- theme selector starts -->
		<div class="pull-left">
			<h3 style="color: #CC0033">麒麟电商管理平台</h3>
		</div>
		<!-- theme selector ends -->
		<div class="pull-left" style="margin-left: 10px;margin-top: 0px">
			<h4>广告投放</h4>
		</div>
		<!-- user dropdown starts -->
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i><span class="hidden-phone"> admin</span> <span class="caret"></span> </a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">{$Profile}</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="login">退出</a>
				</li>
			</ul>
		</div>
		<div class="btn-group pull-right theme-container" style="margin-right: 5px;">
			<a class="btn" onclick="clean()"><i class="icon-trash"></i> 清除缓存</a>
		</div>
	</div>
</div>
